  .card-productall {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 2% 4% 0% 0%;
    padding: 10px 20px 10px 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .card-productall-heading{
    display: inline;
  }

  .coin-32px{
    height: 1.5rem;
  }
  
  .cart-summary {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
  }
  
  .cart-summary h4 {
    margin-bottom: 15px;
  }
  
  .cart-summary .list-group-item {
    border: none;
    padding: 10px 0;
  }
  
  .cart-summary .list-group-item strong {
    font-weight: 700;
  }
  
  .cart-summary .text-danger {
    color: red;
  }
  
  .cart-summary .text-success {
    color: green;
  }


