.emart-header{
    display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
}
.emart-typography {
    flex-grow: 10;
}

.emart-logo{
    height: 45px;
}

.linkto-textbutton{
    text-decoration: none;
    color: #2c2c2c;
    font-size: 16px;
    margin-right: 20px;
}

.linkto-iconbutton{
    text-decoration: none;
    color: #2c2c2c;
    font-size: 16px;   
}